@font-face {
    font-family: AlmendraSC;
    src: url(../fonts/AlmendraSC-Regular.ttf);
    font-style: normal;
}

:root {
    --primary-color: #ad3213;
    --secondary-color: #444036;
    --background-color: #f5eee3;
    --confirm-color: #366d36;
    --main-padding: 60px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    min-height: 100vh;
    width: 100%;
    background-color: var(--background-color);
}

#logo {
    padding-top: 30px;
    align-self: stretch;
    background-color: rgb(0, 0, 0, 0.7);
    font-family: 'AlmendraSC', sans-serif;
    color: var(--background-color);
}

#logo-heading{
    font-size: calc(1.5rem + 1.5vw);
    text-shadow: var(--primary-color) 0 0.2rem;
    word-spacing: 0.5rem;
    padding: 1rem;
    text-align: center;

    span#ox{
        display: inline-block;
        font-size: calc(3.5rem);
        color: var(--primary-color);
        text-shadow: none;
        background-image: url(../images/icon-ox.png);
        background-size: cover;
        width: 200px;
        height: 200px;
        padding-top: 40px;
        padding-left: 50px;
        text-align: center;
        text-shadow: var(--background-color) -0.1rem 0.4rem;
    }
}

p#since{
    font-style: italic;
    text-align: right;
    margin-right: 15%;
    margin-bottom: 5%;
}

#brand-panel{
    width: 36vw;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/background-pipe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#attribution{
    padding: 1rem;
    color: gray;
    text-align: center;
    a {
        font-style: italic;
        color: lightgray;
        text-decoration: none;
    }
}

#main-panel{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#hero {
    padding: var(--main-padding);
    font-weight: 600;

    p {
        font-size: 2rem;
        max-width: 90%;
    }

    p:first-child{
        padding-bottom: 20px;
    }
}

label {
    display: block;
}

input {
    width: 300px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 4px;
}

input:focus {
    /*remove the default black outline*/
    outline: none;
}

input:not(:placeholder-shown):invalid,
input:not(:placeholder-shown):focus:invalid{
    border: 2px solid var(--primary-color);
}

input:valid,
input:not(:placeholder-shown):focus:valid{
    border: 2px solid var(--confirm-color);
}

#upper-section{
    background-color: white;
    padding: var(--main-padding);
    box-shadow: lightgray 0 6px 8px;
}

#upper-section fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    gap: 30px;
    font-weight: 600;

    legend {
        font-size: 1.5rem;
        padding-bottom: 30px;
        font-weight: 300;
    }
}

.form-row{
    display: flex;
    gap: 60px;
}

button[type="submit"]{
    border: none;
    border-radius: 4px;
    background-color: var(--confirm-color);
    color: var(--background-color);
    padding: 8px 36px;
    font-weight: bold;
    cursor: pointer;
}

.login {
    color: var(--confirm-color);
}

#lower-section{
    padding: 40px var(--main-padding);

    p {
        padding-top: 32px;
    }
}