@font-face {
    font-family: AlmendraSC;
    src: url(../fonts/AlmendraSC-Regular.ttf);
    font-style: normal;
}

:root {
    --primary-color: #ad3213;
    --secondary-color: #444036;
    --background-color: #f5eee3;
    --confirm-color: #366d36;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    height: 100vh;
    width: 100%;
    background-color: var(--background-color);
}

#logo {
    padding-top: 48px;
    align-self: stretch;
    background-color: rgb(0, 0, 0, 0.7);
}

#logo-heading{
    font-family: 'AlmendraSC', sans-serif;
    font-size: 4rem;
    color: var(--background-color);
    text-shadow: var(--primary-color) 0 0.2rem;
    word-spacing: 0.5rem;
    padding: 1rem;
    text-align: center;

    span{
        display: inline-block;
        color: var(--primary-color);
        text-shadow: none;
        background-image: url(../images/icon-ox.png);
        background-size: cover;
        width: 200px;
        height: 200px;
        padding-top: 35px;
        padding-left: 50px;
        text-align: center;
        text-shadow: var(--background-color) -0.1rem 0.4rem;
    }
}

#brand-panel{
    width: 36vw;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-image: url(../images/background-pipe.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

#attribution{
    padding: 1rem;
    color: gray;
    text-align: center;
    a {
        font-style: italic;
        color: lightgray;
        text-decoration: none;
    }
}

#main-panel{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#hero {
    padding: 40px;
    font-weight: 600;

    p {
        font-size: 2rem;
        max-width: 80%;
    }

    p:first-child{
        margin-bottom: 20px;
    }
}

label {
    display: block;
}

input {
    width: 300px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 4px;
    margin-bottom: 1rem;
}

input:focus {
    /*remove the default black outline*/
    outline: none;
}

input:not(:placeholder-shown):invalid,
input:not(:placeholder-shown):focus:invalid{
    border: 2px solid var(--primary-color);
}

input:valid,
input:not(:placeholder-shown):focus:valid{
    border: 2px solid var(--confirm-color);
}

#upper-section{
    background-color: white;
    padding: 40px;
    box-shadow: lightgray 0 6px 8px;
}

#signup-form fieldset{
    display: flex;
    gap: 60px;
    border: none;
    padding: 0;
    font-weight: 600;


    legend {
        font-size: 1.5rem;
        margin-bottom: 2rem;
        font-weight: 300;
    }
}

button[type="submit"]{
    border: none;
    border-radius: 4px;
    background-color: var(--confirm-color);
    color: var(--background-color);
    padding: 8px 36px;
    font-weight: bold;
    cursor: pointer;
}

.login {
    color: var(--confirm-color);
}

#lower-section{
    padding: 40px;

    p {
        margin-top: 32px;
    }
}